# By negating patterns to ignore we have effectively a whitelist of what
# will be sent to the Dockear Daemon build context when bulding an image

# Ignore everything
**

# And then allow files and directories

# Remove this when a proper build flow is done
!node_modules

!package-lock.json
!package.json
!plugins
!routes
!schemas
!handlers
!hooks
!tests
!locales
!db
!appConfig.js
!server.js
!setup.js
!.sequelizerc
!services